<div class="p-3 border-start  border-grey border-5 ">
<p><%= @question %></p>
<em>- You</em>
</div>

<div class="mt-3 p-3 border-start  border-grey border-5 bg-warning bg-gradient d-inline-block">

<p><%= @answer %></p>
<em>- Coach</em>
</div>

<p class="link"><%= link_to "Ask a new question", "ask" %></p>
